/*GENERALI*/
body{
    background: no-repeat linear-gradient(#009688 20%, #d2dbdb 20% 80%);
}

/*COLORI*/

.lightBlueBg {
    background-color: #8edafc;
}

.lightBlueBg {
    color: #8edafc;
}

.lightGreyBg {
    background-color: #e9ebeb;
}

.lightGreyColor {
    color: #c2c0ce;
}

/*CONTAINER E BOX*/

.container {
    width: 1200px;
    height: 720px;
}

.box {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #c2c0ce;
    background-color: white;
}

.chatBox {
    max-width: 1000px;
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
    height: 100%;
}

.contactBox{
    overflow-y: scroll;
}

.chatBoxContainer{
    height: calc(100% - 102px);
}

/*IMG ED ICONE*/

.userImg {
    width: 40px;
    border-radius: 50%;
}

.campana {
    background-color: white;
    border-radius: 50%;
    padding: 10px 8px;
}

/*CHAT E MESSAGGI*/

.chatMessage{
    border-radius: 10px;
    max-height: 500px;
    width: 300px;
    line-height: 45px;
    margin: 10px 0px;
}

.sent {
    background-color: #d5f9ba;
}

.received {
    background-color: white;
}

small {
    font-size: small;
}

.searchbar {
    border: 1px solid #c2c0ce;
    background-color: white;
    font-size: small;
}

.searchLens{
    width: 50px;
}

.searchText {
    width: 330px;
}


